<meta charset="utf-8" />
<meta name="description" content="Prestamistas_Recusados_Add" />
<meta name="author" content="JotaDev" />

<div class="container" data-ng-controller="prestamistasListController">
	<form data-ng-submit="register() " data-ng-init="init()">
		<fieldset>
			<legend>
				Adicionar Recusado<br /> <br />
			</legend>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="nome">Nome:</label> <input
						class="form-control" type="text" name="nome" id="nome"
						data-ng-model="newRecusado.descnomecliente"
						placeholder="Nome do Novo Recusado" /><br />
				</div>				
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="cpf">CPF:</label> <input
						class="form-control" type="text" name="cpf" id="cpf"
						data-ng-model="newRecusado.numcpfcnpj"
						placeholder="CPF do Novo Recusado" /><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="situacao">Situação:</label> <select
						data-ng-model="newRecusado.situacao"
						data-ng-options="value.id as value.name for value in statusTypes"></select><br />
				</div>
			</div>

			<br /> <br /> <br />

			<div class="form-group">
				<div class="col-xs-9">
					<input type="submit" id="register" class="btn btn-primary"
						value="Registrar" />
				</div>
			</div>
		</fieldset>
	</form>
</div>