<meta charset="utf-8" />
<meta name="description" content="Prestamistas_Recusados_Edit" />
<meta name="author" content="JotaDev" />

<div class="container" data-ng-controller="recusadosListController">
	<form data-ng-submit="update() " data-ng-init="init()">
		<fieldset>
			<legend>
				Editar Recusado<br /> <br />
			</legend>

			<br />

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="nome">Nome:</label> <input
						class="form-control" type="text" name="nome" id="nome"
						data-ng-model="updateRecusado.descnomecliente" disabled=disabled
						placeholder="Novo Nome do Recusado" /><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="cpf">CPF:</label> <input
						class="form-control" type="text" name="cpf" id="cpf"
						data-ng-model="updateRecusado.numcpfcnpj" disabled=disabled
						placeholder="Novo CPF do Recusado" /><br />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9">
					<label class="control-label" for="situacao">Situação:</label> <select
						data-ng-model="updateRecusado.situacao"
						data-ng-options="value.id as value.name for value in statusTypes"></select><br />
				</div>
			</div>
		</fieldset>

		<br />

		<div class="form-group">
			<div class="col-xs-9">
				<input type="submit" id="edit" class="btn btn-primary"
					value="Confirmar" /><a
					data-ng-click="deleteRecusado(updateRecusado.idcliente)"
					class="btn btn-small btn-danger"style="float:right;">Reativar Recusado</a>
			</div>
		</div>

	</form>
</div>